@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(50, 51, 52);
  background-color: rgb(216, 214, 237);
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  margin-bottom: 0.5;
}

.container {
  padding: 2em;
  border-radius: 5px;
  border-style: solid;
  background-color: aliceblue;
}

#room {
  width: 185px;
  
}

.room-legend {
  margin-left: calc(50% - 35px - 15px);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

legend {
  font-weight: bold;
}

#form-legend {
  font-size: x-large;
  margin-left: calc(50% - 80px - 15px);
}

form {
  width: 20em;
}

fieldset {
  border-radius: 5px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment-info {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#room, #name, #email, #promo, #card, #ccnum, 
#ccexp, #button {
  margin-bottom: 10px;
}

#button {
  margin-top: 5px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(73, 73, 228);
  color: white;
  border-style: none;
  border-radius: 3px;
  font-weight: bold;
}

button, input, select {
  font-family: inherit;
  font-size: 90%;
}